{**
 * @author Ladislav Vondráček
 *}

{block content}
<div class="ui three column centered grid">
  <div class="column">
    <div class="ui red piled segment">
      <h1 n:block="title" class="ui header">Zakázané použití</h1>

      <p>Jak se Vám toto povedlo nevíme, ale tohle nesmíte.</p>
      <p>Než se vrátíte, máme pro Vás micinku.</p>
      <img src="http://loremflickr.com/600/600/kitten" class="ui fluid rounded bordered image" />
    </div>
  </div>
</div>
