{**
 * @author Ladislav Vondráček
 *}

{block content}
<div class="ui three column centered grid">
  <div class="column">
    <div class="ui red piled segment">
      <h1 n:block="title" class="ui header">Tak tohle je zlé</h1>

      <p>Je to rozbité, ale hned jak doplníme hladinu kofeinu, opravíme to.</p>
    </div>
  </div>
</div>
